
body{
    margin: 0px;
    padding: 0px;
}
.navbar{
    padding: 0.1px;
    margin: 0px;
    display: flex;
    flex-direction: row-reverse;
}



.navbar::before{
    background-image: url("/photos/background.jpg");
    background-size: cover;
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
}

a:link{
    text-decoration: none;
}

a:visited{
    color: cyan;
}


.navbar li {
    display: inline;
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
    font-family: 'Fuzzy Bubbles', cursive;
    position: sticky;
}


#starting {
    text-align: center;
    border-top:#EDF5E1 ;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 45px;
    margin-bottom: 0px;
    color:#ffd900;
}

#contact_details{
    border-top:#EDF5E1 ;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 43px;
    margin-top: 0px;
    text-align: center;
    color:#ffd900;
}

#foot{
    text-align: center;
    font-weight: 700;
    position: absolute;
    bottom: 0px;
    width: 100%;
    color:#EDF5E1;
}

.links{
    text-align: center;
}
.links img{
    width: 100px;
    height: 100px;
}

.links a{
    padding: 5px;
    margin: 5px;
}
