
body{
    margin: 0px;
    padding: 0px;
    background-color:#1d1e20 ;
}

html{
    scroll-behavior: smooth;
}

/* NAVBAR */

/* DONE  */
#navbar{
    background-color: #1d222d;
    position: sticky;
    top: 0;
    left: 0;
    padding: 3px;
}
#navbar ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 6px 0px;
    justify-content: center;
    flex-wrap: wrap;
}

#navbar ul li{
    font-style: none;
    margin: 6px 9px;
    transition-property: background-color;
    padding: 6px 0px;
    font-family: 'Open Sans', sans-serif;
}

#navbar ul li a {
    font-size: 19px;
    padding: 9px;
    margin: 6px;
}

#navbar ul li a, #navbar ul li a:hover, #navbar ul li a:focus,#navbar ul li a:active {
    text-decoration: none;
    color: inherit;
    padding: 8px 10px;
    background-color: white;
    border-radius: 10px;
}
#navbar ul li a:hover{
    background-color: #61dafb;
    border-radius: 18px;
}




/* PROFILE */

#intro{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 10px;
    margin: 10px;
    height: auto;
}
.photo{
    display: inline;
    width: 25%;
    height: auto;
    margin-left:3%;
    margin-top: 3%;
    padding-bottom: 5%;
    flex: 1 2 auto;
    align-self: center;
}

.photo img{
    width: 180px;
    height: 200px;
    border: 4px solid #61dafb;
    border-radius: 40px;
}

.desc {
    flex: 2 1 auto;
    flex-basis: 5;
    box-sizing: border-box;
    display: inline;
    width: 100%;
    height: auto;
    margin: 6px;
    padding:14px;
    margin-top: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    font-weight: 700;
    color:#61dafb;
}



/* STORY */

#story{
    background-color: #282c34;
    padding-top: 1px;
    padding-bottom: 5px;
    margin-top: -5px;
    margin-bottom: 15px;
    
}

.heading_life{
    color:#61dafb;
    font-size: 45px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#content{
    width: 90%;
    height: auto;
    margin: 6px;
    padding: 0px;
    padding-left: 30px;
    margin-top: 6px;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #61dafb;
}


/* INTEREST */
#interest{
    display: grid;
    grid-template-rows:  repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    background-color: #1d1e20 ;
    height: auto;
    padding: 15px;
    padding-top: 0px;
    row-gap: 30px;
    column-gap: 40px ;
    padding-top: 10px;
    
}

.item{
    background-color: #282c34; ;
    text-align: center;
    border-radius: 23px;
    border: 4px solid #61dafb;
    color: #61dafb;
    font-family: 'Open Sans', sans-serif;
}


/* CONTACT ME */


#contact_me{
    background-color: #282c34;
}


#starting,#contact_details {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color:#61dafb;;
}


.links{
    display: flexbox;
    text-align: center;
    width: auto;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.links img{
    width: 60px;
    height: 60px;
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
}





/*Media Queries*/
 
@media (max-width:950px) {
    .photo{
        width: auto;
        height: auto;
        margin-left:3%;
        margin-top: 3%;
        flex: 1 2 auto;
        align-self: center;
    }
    
    .photo img{
        width: 150px;
        height: 175px;
        border: 3px solid #61dafb;
        border-radius: 40px;
    }
    .desc {
        font-size: 24px;
    }

    .heading_life{
        color:#61dafb;
        font-size: 40px;
    }
    
    #content{
        width: 90%;
        margin: 6px;
        padding: 0px;
        padding-left: 25px;
        margin-top: 0px;
        font-size: 20px;
    }

    #interest{
        grid-template-rows:  repeat(3,1fr);
        grid-template-columns: repeat(2,1fr);
        height: auto;
        padding: 15px;
        padding-top: 0px;
        row-gap: 25px;
        column-gap: 35px ;
        padding-top: 10px;
        
    }
    
    .item{
        border-radius: 18px;
        border: 3px solid #61dafb;
    }

    #starting,#contact_details {
        font-size: 20px;
    }
    
    
    .links{
        width: auto;
        height: auto;
        padding-top: 8px;
        padding-bottom: 8px;
        
    }
    .links img{
        width: 50px;
        height: 50px;
    }
}


@media (max-width:570px)  {
    #navbar ul li a{
        font-size: 14px;
    }
    .photo{
        width: auto;
        height: auto;
        margin-left:2.5%;
        margin-top: 2.5%;
        flex: 1 2 auto;
        align-self: center;
    }
    
    .photo img{
        width: 125px;
        height: 150px;
        border: 3px solid #61dafb;
        border-radius: 40px;
    }
    .desc {
        font-size: 20px;
    }
    .heading_life{
        font-size: 35px;
    }
    
    #content{
        padding-left: 20px;
        font-size: 15px;
    }
    #interest{
        grid-template-rows:  repeat(3,1fr);
        grid-template-columns: repeat(2,1fr);
        height: auto;
        padding: 15px;
        padding-top: 0px;
        row-gap: 20px;
        column-gap: 30px ;
        padding-top: 10px;
        
    }
    
    .item{
        border-radius: 15px;
        border: 3px solid #61dafb;
    }
}

@media (max-width: 490px) {
    #navbar ul li{
        margin: 3px 5px;
        padding: 3px 0px;
    }
    #navbar ul li a{
        font-size: 13px;
    }
    .photo{
        width: auto;
        height: auto;
        margin-left:1.5%;
        margin-top: 1.5%;
        flex: 1 2 auto;
        align-self: center;
    }
    
    .photo img{
        width: 110px;
        height: 135px;
        border: 3px solid #61dafb;
        border-radius: 40px;
    }
    .desc {
        font-size: 16px;
    }
    .heading_life{
        font-size: 30px;
    }
    
    #content{
        padding-left: 15px;
        font-size: 15px;
    }
    #interest{
        grid-template-rows:  repeat(6,1fr);
        grid-template-columns: repeat(1,1fr);
        height: auto;
        padding: 15px;
        padding-top: 0px;
        row-gap: 15px;
        column-gap: 25px ;
        padding-top: 10px;
        
    }
    
    .item{
        border-radius: 12px;
        border: 2px solid #61dafb;
    }
}

@media (max-width: 450px){
    #navbar ul li{
        margin: 3px 5px;
        padding: 3px 0px;
    }
    #navbar ul li a{
        font-size: 9.0px;
    }
    .photo{
        width: auto;
        height: auto;
        margin-left:1%;
        margin-top: 1%;
        flex: 1 2 auto;
        align-self: center;
    }
    
    .photo img{
        width: 80px;
        height: 105px;
        border: 3px solid #61dafb;
        border-radius: 20px;
    }
    .desc {
        font-size: 14px;
        }
    .heading_life{
        font-size: 30px;
    }
    
    #content{
        padding-left: 15px;
        font-size: 15px;
    }
    #starting,#contact_details {
        font-size: 15px;
    }
    
    
    .links{
        width: auto;
        height: auto;
        padding-top: 6px;
        padding-bottom: 6px;
        
    }
    .links img{
        width: 40px;
        height: 40px;
    }
}
